@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Custom Leaflet Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}
